.ceo-cod-area {
    /* background: url(/assets/images/bg/6.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    padding: 30px 0 45px;
  }

  .consen-section-title h2 {
    font-size: 36px;
    margin: 0;
  }
  
  .consen-section-title span {
    color: #f6881f;
  }
  
  .consen-section-title p {
    opacity: 70%;
    padding: 13px 0 0;
  }
  
  /*style two*/
  .consen-section-title h5 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    color: #f6881f;
    margin: 0 0 16px;
    position: relative;
    margin-left: 53px;
    display: inline-block;
  }
  
  .consen-section-title h5:before {
    position: absolute;
    content: "";
    top: 10px;
    left: -53px;
    height: 2px;
    width: 41px;
    background: #f6881f;
  }
  
  .ceo-cod-area p.about-text {
    font-size: 22px;
    font-weight: 500;
    color: #232323 !important;
    line-height: 32px;
    font-style: italic;
    opacity: inherit;
    margin-bottom: 12px;
  }
  
  .ceo-cod-area p.about-text2 {
    opacity: inherit;
    padding: 0;
  }

  .dreamit-ceo-title h4 {
    font-size: 20px;
    font-weight: 500;
    padding: 8px 0 0 32px;
    position: relative;
    z-index: 1;
  }
  
  .dreamit-ceo-title h4:before {
    position: absolute;
    content: "";
    z-index: 1;
    left: 0;
    top: 18px;
    width: 22px;
    border: 1px solid #f6881f;
  }
  
  .dreamit-ceo-title span {
    font-size: 15px;
    padding: 7px 0 0;
    display: inline-block;
  }
  
  .about-button a {
    padding: 9px 14px 9px 15px;
    font-weight: 500;
    color: #fff;
    background: #f6881f;
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #f6881f;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 38px;
  }
  
  .about-button a:before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: #fff;
    border-radius: 30px;
    transition: .5s;
  }
  
  .about-button a svg {
    font-size: 15px;
    width: 20px;
    height: 20px;
    line-height: 32px;
    border-radius: 25px;
    text-align: center;
    background: #fff;
    color: #f6881f;
    display: inline-block;
    margin-left: 14px;
    position: relative;
    top: 3px;
    transition: .5s;
  }
  
  .about-button a:hover {
    color: #f6881f;
  }
  
  .about-button a:hover:before {
    width: 100%;
    left: 0;
  }
  
  .about-button a:hover svg {
    background: #f6881f;
    color: #fff;
  }

  .dreamit-about-thumb1 {
    margin-left: 64px;
  }
  
  .about-shape-box {
    position: relative;
    z-index: 1;
  }
  
  .about-shape-thumb img {
    position: absolute;
    top: -280px;
    left: 26px;
  }

  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .dreamit-about-thumb1 img {
        width: 100%;
    }
    .dreamit-about-thumb1 {
      margin-left: 0;
      margin-top: 25px;
  }
    .consen-section-title h2 {
      font-size: 21px;
  }
  .ceo-cod-area p.about-text {
    font-size: 16px;
}
.consen-section-title p {
  font-size: 14px;
}
.dreamit-ceo-title h4 {
  padding: 0;
}
.about-button a {
  padding: 7px 14px 11px 25px;
  font-size: 14px;
}
.about-shape-thumb img {
  top: -124px;
  left: 1px;
  width: 40%;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .dreamit-about-thumb1 img {
      width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .dreamit-about-thumb1 {
      margin-left: 0;
      margin-top: 16px;
  }
  .dreamit-about-thumb1 img {
    width: 100%;
}
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .dreamit-about-thumb1 {
      margin-left: -35px;
      margin-top: -20px;
  }
}

@media only screen and (max-width: 767px) {
  .dreamit-about-thumb1 .mobile-image {
    width: 237px;
    height: 327px;
  }
  .dreamit-about-thumb1{
   text-align: center;
  }
}