.brand-section.srv-page {
    padding: 50px 0 50px;
    /* background: url(/assets/images/resource/why-choose-bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }